* {
  background: rgb(245, 248, 255);
}
.containar {
  width: 1280px;
  margin: auto;
}
.btn {
  background-color: #e95a08;
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  width: 270px;
  height: 50px;
  border: none;
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.nav-items {
  display: flex;
  font-family: Inter;
  list-style: none;
  gap: 20px;
  font-size: 16px;
  font-weight: 700;
}
.banner {
  display: flex;
  padding: 25px;
  margin: 120px 150px;
  align-items: flex-end;
}

.banner h2 {
  font-size: 65px;
  font-weight: bold;
  font-family: "Noto Serif";
  margin: 13px 0px;
}
.banner-font {
  color: #e95a08;
}
.banner p {
  font-size: 20px;
  font-family: Inter;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
  margin: 13px 0px;
}
.categories-title {
  text-align: center;
  margin: 120px 150px 50px;
}
.categories-title h2 {
  font-family: Noto Serif;
  font-size: 50px;
  font-weight: 700;
  margin: 16px 0px;
}
.categories-title p {
  font-size: 22px;
  font-weight: 400;
  font-family: Inter;
  color: rgba(0, 0, 0, 0.5);
  margin: 16px 0px;
}
.categories-card {
  padding: 0px;
  text-align: center;
  flex: 1;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.categories-card-body {
  font-size: 22px;
  font-weight: 700;
  color: rgb(17, 17, 17);
  font-family: Inter;
}
.frame-badge img {
  width: 250px;
  height: auto;
  background-color: transparent;
}
.frame-badge {
  position: absolute;
  right: 50%;
  top: 2150px;
  background-color: transparent;
}
.frame-containar {
  display: flex;
  margin-top: 210px;
}
.frame-containar-right {
  margin-left: 60px;
  width: 540px;
  height: 521px;
}
.frame-containar-right h2 {
  font-weight: 700;
  font-size: 50px;
  font-family: Noto Serif;
}
.frame-containar-right ul li {
  font-size: 22px;
  margin-top: 20px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
  font-family: Inter;
}
.middle-title {
  text-align: center;
  margin: 100px 150px;
}
.middle-title h2 {
  font-size: 50px;
  font-weight: bold;
  font-family: Noto Serif;
}
.middle-title p {
  font-size: 22px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
  font-family: Inter;
}
.contact-us {
  background-image: url(../assets/news-letter-bg.png);
  background-size: cover;
  height: 533px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}
.hero-contact {
  background-color: transparent;
}
.hero-contact h2 {
  font-size: 50px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  font-family: Noto Serif;
  background-color: transparent;
  margin: 16px 0px;
}
.hero-contact input {
  width: 644px;
  height: 50px;
  padding: 0 20px;
  border: none;
}
.hero-contact button {
  height: 50px;
  width: 200px;
  margin: 0px;
}
.hero-contact-int-btn {
  display: flex;
  justify-content: center;
}
.footer-containar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px;
  margin: 50px 160px;
}
.footer-left p {
  font-size: 22px;
  font-weight: 400;
  width: 359px;
  height: 81px;
  margin: 16px 0px;
  color: rgba(0, 0, 0, 0.5);
  font-family: Inter;
}
.footer-links ul li {
  list-style: none;
  font-size: 16px;
  font-weight: 400;
  color: rgb(107, 114, 128);
  font-family: Inter;
  margin: 32px 10px;
}
.footer-column ul li {
  list-style: none;
  font-size: 16px;
  font-weight: 400;
  color: rgb(107, 114, 128);
  font-family: Inter;
  margin: 32px 10px;
}
.footer-icon {
  display: flex;
  gap: 20px;
  margin: 10px 0px;
}
